Package: python-cowsandbulls
Source: cowsandbulls
Version: 1.2-1
Architecture: all
Maintainer: Siddharth Kannan <kannan.siddharth12@gmail.com>
Installed-Size: 75
Depends: python2.7, python (>= 2.7.1-0ubuntu2), python (<< 2.8)
Section: python
Priority: optional
Description: A number guessing game.
